<h5> ◆ 戦績 </h5>
<div class="rating mb-3">
  <div>プレイ数：<%=current_user.game_count%></div>
  <div>勝率：<%=number_to_percentage(current_user.win_rate*100, precision: 2)%></div>
  <div>平均点：<%=number_with_precision(current_user.score_ave, precision: 2)%></div>
  <div class="hover-detail">平均順位
    <span class="hover-switch"><%=fa_icon("question-circle")%></span>
    <span class="hover-pop">1位1.0, 最下位0.0 (4人プレイ時：2位0.666, 3位0.333)として平均を計算</span>
    ：<%=number_with_precision(current_user.rankscore_ave, precision: 3)%>
  </div>
  <div class="hover-detail">平均番手
    <span class="hover-switch"><%=fa_icon("question-circle")%></span>
    <span class="hover-pop">1位1.0, 最下位0.0 (4人プレイ時：2位0.666, 3位0.333)として平均を計算</span>
    ：<%=number_with_precision(current_user.turnscore_ave, precision: 3)%>
  </div>
</div>

<h5> ◆ 履歴 </h5>

<p>
<div>
  <table class="table table-striped">
    <thead>
      <tr>
        <% sort_mark=" ▼ "%>
        <th scope="col"></th>
        <th scope="col">#</th>
        <th scope="col">プレイ人数</th>
        <th scope="col">順位</th>
        <th scope="col">得点</th>
        <th scope="col">初手</th>
      </tr>
    </thead>
    <tbody>
      <% @results.each.with_index(1) do|result, i|%>
      <tr>
        <th scope="row"><%=link_to fa_icon("info-circle"), result_path(result) %></th>
        <th scope="row"><%= i %></th>
        <td><%=result.player%></td>
        <td><%=result.rank%></td>
        <td><%=result.score%></td>
        <td><%=result.first_pick_names%></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
</p>
