<div class="form_wrapper">
<%number_collection=[["1",1], ["2",2], ["3",3], ["4",4], ["5",5], ["6",6]]%>
<%#= simple_form_for @resource, wrapper: "horizontal_form", html: {class: "form-horizontal"} do |f| %>
<%= simple_form_for @resource, wrapper: "horizontal_form" do |f| %>
    <div class="common_form">
    <%= f.input :player, label: false, as: :select, collection: number_collection, prompt: "プレイ人数", input_html: {class: "one-col-form"} %>
    <%= f.input :turn_number, label: false, as: :select, collection: number_collection, prompt: "番手", input_html: {class: "one-col-form"}  %>
    </div>

    <% count = 1%>
    <div class="picks_form">
      <div class="sticky_img">
      </div>
      <%= f.fields_for :picks, wrapper: "horizontal_form", html: {class: "form-horizontal"} do|pick| %>
        <% if count.odd? %>
          <div class="pick_count"> Pick <%= 1+count/2 %> </div>
          <div class="a_pick">
            <div class="left_input">
        <% else %>
            <div class="right_input">
        <% end if %>
              <%= pick.input :deck, as: :select, collection: ["A","B","C","D","L"], label: false, prompt: "デッキ", input_html: {class: "pick-input pick-deck"}%>
              <%= pick.input :number, as: :numeric, label: false, placeholder: "番号", input_html: {class: "pick-input pick-number"} %>
              <%= pick.input :used, as: :radio_buttons, collection: [["使用", true],["未使用", false]], item_wrapper_class: "radiobtn-inline", input_html: {class: "pick-used"}%>
            </div>
        <% if count.even? %>
          </div>
        <% end if %>

        <% count = count + 1%>
      <% end %>
    </div>
    <div class="picked_cards">
    </div>
    <%= f.input :rank, label: false, as: :select, collection: number_collection, prompt: "順位", input_html: {class: "one-col-form"}  %>
    <%= f.input :score, label: false, as: :numeric, placeholder: "得点", input_html: {class: "one-col-form"} %>

  <%= f.button :submit, "登録", class: "btn btn-primary" %>
<% end %>
</div>
<script>
  $(".pick-input").on("change", function(){
    idx = parseInt($(".pick-input").index(this)/2);
    deck = $(".pick-deck")[idx].value
    number = $(".pick-number")[idx].value
    if ( deck && number ){
      n = ('000'+ number).slice(-3);
      img = '<img src="/assets/'+ deck + n + '.png" width="150" height="270">';
      $(".sticky_img").html(img);
    }
  })
</script>
