<div class="show-form mt-3 mb-3">
  <%= link_to link_button("修正", class: "btn btn-primary "), edit_result_path(id: @resource.id) %>
  <% if logged_in? && ( admin? || resource.user == current_user) %>
    <%= link_to link_button("削除", class: "btn btn-warning "), result_path(id: @resource.id), method: :delete %>
  <% end %>
  <% if admin? %>
    <% if @resource.calc_target? %>
      <%= link_to link_button("集計除外", class: "btn btn-secondary "), exclude_calc_result_path(id: @resource.id) %>
    <% else %>
      <%= link_to link_button("集計", class: "btn btn-secondary "), include_calc_result_path(id: @resource.id) %>
    <% end %>
  <% end %>
</div>

<h5> ◆ 基本情報 </h5>
<div class="rating mb-3">
  <%= show_columns(@resource) %>
</div>

<h5> ◆ 使用カード </h5>
  <div class="hands">
    <div class="hands-occupations">
      <span class="used-switch"></span>
      <span class="used-switch"></span>
      <span class="used-switch"></span>
      <span class="used-switch"></span>
      <span class="used-switch"></span>
      <span class="used-switch"></span>
      <span class="used-switch"></span>
    </div>
    <div class="hands-improvements">
      <span class="used-switch"></span>
      <span class="used-switch"></span>
      <span class="used-switch"></span>
      <span class="used-switch"></span>
      <span class="used-switch"></span>
      <span class="used-switch"></span>
      <span class="used-switch"></span>
    </div>
  </div>
</div>

<script>
  $(function(){
    const display_card_name_and_image = (idx) =>{
      const noimages = <%= noimage_cards_json.html_safe%>;
      const card_names = <%= card_names_json.html_safe%>;
      const hands = <%=pick_data_json(@resource.picks).html_safe%>;
      const deck = hands[idx].deck;
      const number = hands[idx].card_number;
      const used = hands[idx].used;
      if ( deck && number ){
        const n = ('000'+ number).slice(-3);
        const card_number = deck + n;
        const card_name = card_names[card_number] ;

        if (noimages[card_number]){
          img = '<span class="noimage">' + card_number + "<br>" +  noimages[card_number] + '</span>';
          $("div.hands .used-switch").eq(idx).addClass("noimage").removeClass("nocard").html(card_number + "<br>" + noimages[card_number]);
          if(used != true){
            $("div.hands .used-switch").eq(idx).addClass("not-used")
          }
        } else{
          $("div.hands .used-switch").eq(idx).removeClass("noimage nocard not-used");
          if(used != true){
            img = '<img src="/assets/'+ card_number + '.jpg" width=75 height=120 class="not-used">';
            $("div.hands .used-switch").eq(idx).addClass("grayout");
          }else{
            img = '<img src="/assets/'+ card_number + '.jpg" width=75 height=120 class="">';
          }
        }
      }else{
        img = '<span class="noimage">' + "カードが<br>ありません" + '</span>';
        $("div.hands .used-switch").eq(idx).addClass("noimage nocard not-used").html("カードが<br>ありません");;
      }
      $("div.hands .used-switch").eq(idx).html(img);
    }

    for(let i=0; i < 14; i++){
      display_card_name_and_image(i);
    }
  })
</script>
