<!DOCTYPE html>
<html>
  <head>
    <title>AgriStats</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  </head>

  <body>
    <% flash.each do |message_type, message| %>
      <%= message %>
    <% end %>
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="inner">
          <h3 class="masthead-brand text-center">アグリスタッツ</h3>
          <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link active" href="<%= new_result_path %>">登録</a>
            <a class="nav-link" href="<%=ranking_path(category: "occupations")%>">職業ランキング</a>
            <a class="nav-link" href="<%=ranking_path(category: "improvements")%>">進歩ランキング</a>
          </nav>
        </div>
      </header>

      <main role="main" class="inner cover">
        <%= yield %>
      </main>
    </div>
  </body>
</html>
