<!DOCTYPE html>
<html>
  <head>
    <title>AgriStats</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  </head>

  <body>
    <div class="cover-container d-flex w-100 h-100 mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="inner">
          <div class="title-header">
            <h3 class="masthead-brand text-center title mt-3 ml-3">アグリスタッツ</h3>
            <div class="twitter mt-3 ml-auto mr-3">
              <%if logged_in? %>
                <a href="/logout"><img src=<%=current_user.image_url%> width=30 height=30></img>ログアウト</a>
              <%else %>
                <%= link_to '/auth/twitter', method: :post do %>
                  <img src="/assets/twitter_icon.png" width=30 height=30>ログイン
                <% end %>
              <%end %>
            </div>
          </div>
          <div class="nav-header">
            <nav class="nav nav-masthead nav-menu ml-3">
              <%= active_link_to "トップ", root_path, active: :exclusive, class: "nav-link" %>
              <%= active_link_to "登録", new_result_path, class: "nav-link" %>
              <%= active_link_to "職業ランキング", ranking_path(category: "occupations"), class: "nav-link" %>
              <%= active_link_to "進歩ランキング", ranking_path(category: "improvements"), class: "nav-link" %>
              <%= active_link_to "マイページ", mypage_path, class: "nav-link" if logged_in? %>
            </nav>
          </div>
        </div>
      </header>

      <div class="flash_message">
        <% flash.each do |message_type, message| %>
          <%= message %>
        <% end %>
      </div>

      <main role="main" class="inner cover m-3">
        <%= yield %>
      </main>
    </div>
  </body>
</html>
